.clidp-buttons {
	margin: 1em 0 0;

	.clidp-button {
		display: block;
		margin-bottom: 0.5em;
		border-color: transparent;
		color: #fff;
		text-align: center;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #fff;
			filter: brightness(1.15);
		}
	}

	.clidp-button--slack {
		background: #4a154b;
	}

	.clidp-button--discord {
		background: #5865f2;
	}
}
